#npoint{
position:absolute;
width:150px;
height:50px;
z-index:2;
background:rgba(0,0,0,0.45);
margin-left:50px;
margin-top:11px;
color: #FFF;
text-align:center;
font-weight:bold;
font-size:20px;
line-height:40px;
} 
#npoint:hover{
background:rgba(0,0,0,0.25);
}
#map {
    width:600px;
    height:400px;
    margin:0px; 
    z-index:1;
  }
.op{
opacity:0.4;
filter:alpha(opacity=40);
}  
